.fixture-container {
  margin: 0 2%;
}

.fixture-container .match-container {
  padding: 1%;
  border: 1px solid #ccc;
  /* width: 35%; */
}

.fixture-container .match-container.FINISHED {
  background-color: #00800080;
}

.fixture-container .match-container.IN_PLAY {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.fixture-container .match-container.POSTPONED {
  background-color: #ff000080;
}

.fixture-container .match-container.SCHEDULED {
  background-color: #ffa50080;
}

.fixture-container .match-container .match {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fixture-container .match-container .match .score {
  margin: 0 2%;
}

.fixture-container .match-container .match .status {
  flex-grow: 1;
  text-align: right;
}

@media (max-width: 480px){
  .fixture-container .match-container .match .home-team{
    flex:2;
  }

  .fixture-container .match-container .match .score{
    margin:0;
    flex:1;
  }

  .fixture-container .match-container .match .away-team{
    flex:2;
  }

  .fixture-container .match-container .match .status{
    flex:1;
  }


}