.goal-scorer-card{
    display:flex;
    flex-direction:row;
    border:1px solid #ccc;
    padding: 2% 4%;
}
.goal-scorer-card .sorting-number{
    margin-right: 2%;
}
.goal-scorer-card .name-informations{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
}

.goal-scorer-card .name-informations .player-name{
    font-weight: bold;
    cursor: pointer;
}